@import '../../sass/vars';

.partners {

    &__content {
        flex: 0 0 auto;
        background: $personalBg;
        padding: 15px 0 20px;
        box-shadow: 0 0 10px 0 transparentize($colorBlack, 0.25);
        border-radius: 5px;
        display: flex;
        flex-wrap: wrap;
    }

    &__h1 {
        @include font-bold-cuprum();
        font-size: 24px;
        line-height: 30px;
        color: $personalHeader;
        text-transform: uppercase;
        text-align: center;
        margin: 0 20px;
        padding: 15px 0;
        width: 100%;
        box-sizing: border-box;
        border-bottom: 1px solid $partnersBorder;

        @include adaptive(tablet) {
            margin: 0 20px;
            text-align: left;
        }

        @include adaptive(desktop) {
            font-size: 28px;
            margin: 0 50px;
        }
    }

    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        margin: 20px 0;
        padding: 0 20px;
        justify-content: center;

        @include adaptive(tablet) {
            justify-content: space-between;
        }

        @include adaptive(desktop) {
            padding: 0 50px;
        }
    }

    &__item {

        &:not(:last-child) {
            margin-bottom: 30px;
        }

        @include adaptive(tablet) {
            flex: 0 1 100%;
            display: flex;
            text-align: left;
        }
    }

    &__item-image {
        padding: 20px;
        width: 150px;
        height: 150px;
        min-width: 150px;
        margin: 0 auto;
        background: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__h4 {
        @include font-regular-cuprum();
        margin-bottom: 0;
        color: $partnersHeaderItem;
        font-size: 22px;
        line-height: 26px;

        @include adaptive(tablet) {
            margin-top: 0;
        }
    }

    &__text-block {

        @include adaptive(tablet) {
            margin-left: 30px;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            align-content: center;
        }
    }

    &__text,
    &__link {
        @include font-regular();
        color: $partnersTextItem;
        font-size: 15px;
        line-height: 20px;
    }

    &__link {
        color: $partnersLinkItem;
        text-transform: lowercase;
        display: flex;
        align-items: center;
        justify-content: center;

        @include adaptive(tablet) {
            justify-content: flex-start;
        }

        span {
            border-bottom: 1px dashed $partnersLinkItem;
        }

        svg  {
            fill: $partnersLinkItem;
            width: 12px;
            height: 12px;
            margin-right: 5px;
            transform: translateY(2px);
        }
    }
}