@import '../../sass/vars';

.tariff {

    &__h2 {
        max-width: 100%;
    }

    &__h3 {
        font-size: 20px;
    }

    &__items {
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        margin: 30px 0;
        flex-wrap: wrap;

        @include adaptive(desktop) {
            margin: 100px 0;
        }

        @include adaptive(desktop) {
            flex-wrap: nowrap;
        }
    }

    &__item {
        flex-basis: 100%;
        padding: 20px;
        border: 1px solid #e0e6ed;
        background: $colorWhite;
        margin-top: 30px;
        border-radius: 5px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        & > * {
            flex-basis: 100%;
        }

        & > .button {
            flex-basis: 40%;
            padding: 10px;
            max-height: 50px;
            height: 100%;
            max-width: 120px;
        }

        @include adaptive(desktop) {
            flex-basis: 30%;
        }

        &_active {
            padding: 20px;
            flex-basis: 100%;
            box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.10);

            @include adaptive(desktop) {
                margin-top: 10px;
                margin-bottom: -20px;
                flex-basis: 33%;
            }
        }
    }

    &__item-header-h3 {
        font-size: 22px;
        line-height: 1.35;
        margin-bottom: 10px;
        max-width: 70%;
        font-weight: bold;
    }

    &__item-header-h2 {
        font-size: 36px;
        line-height: 1.23;
        margin: 20px auto 30px;
    }

    &__item-text {
        font-size: 16px;
        line-height: 1.55;
        margin: 2px 0;
    }
}