@import '../../sass/vars';

.price {
    padding: 40px 0;
    background: $priceSectionBackground;

    @include adaptive(desktop) {
        padding: 150px 0;
    }

    &__header {
        @include font-medium();
        color: $priceSectionHeader;
        font-size: 20px;
        line-height: 25px;
        text-transform: uppercase;

        @include adaptive(desktop) {
            font-size: 35px;
            line-height: 42px;
        }

        span {
            color: $priceSectionHeaderSpan;
        }
    }

    &__items {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        @include adaptive(desktop) {
            flex-wrap: nowrap;
        }
    }

    &__item {
        flex-basis: 100%;
        margin-bottom: 30px;

        @include adaptive(desktop) {
            flex-basis: 30%;
            margin-bottom: 0;
        }
    }

    &__item-inner {
        border: 1px solid $priceSectionItemBorder;
        border-radius: 30px;
        padding: 30px;
        text-align: center;
    }

    &__item-header {
        @include font-regular();
        font-size: 24px;
        line-height: 28px;
        color: $priceSectionItemHeader;
        text-transform: uppercase;
        margin: 0;
    }

    &__options {
        border: 1px solid transparent;
        border-top-color: $priceSectionItemBorder;
        border-bottom-color: $priceSectionItemBorder;
        padding: 10px 0;
        margin: 10px 0;
    }

    &__option {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__option-p {
        @include font-regular();
        font-size: 16px;
        line-height: 23px;
        color: $priceSectionOptionText;
        margin: 5px 0;
        position: relative;

        &:last-child {
            display: block;
            width: 30px;
            text-align: left;
        }

        &_plus {
            &::after {
                content: '';
                position: absolute;
                width: 20px;
                height: 20px;
                top: 0;
                left: 10px;
                background: url('../img/cross.svg') center no-repeat;
            }
        }

        &_long {
            transform: translateX(-4px);
            &::after {
                left: 14px;
            }
        }
    }

    &__description {
        min-height: 130px;
        text-align: left;

        @include adaptive(desktop) {
            min-height: 180px;
        }

        @include adaptive(desktop-ext) {
            min-height: 145px;
        }
    }

    &__description-text {
        @include font-regular();
        font-size: 16px;
        line-height: 18px;
        color: $priceSectionHeader;
    }

    &__price-text {
        @include font-medium();
        font-size: 16px;
        line-height: 28px;
        color: $pricePrice;
        text-transform: uppercase;

        @include adaptive(desktop-ext) {
            font-size: 18px;
        }

        span {
            color: $pricePriceSpan;
        }
    }

    &__button {
        max-width: 90%;
        margin: 0 auto -50px;
        background: #3b3c46;
    }

    &__additional {
        min-height: 0;
        height: 100%;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        flex-wrap: wrap;

        @include adaptive(desktop) {
            min-height: 90px;
        }

        &_border {
            border-top: 1px solid $priceSectionItemBorder;
            padding-top: 10px;

            @include adaptive(desktop) {
                padding-top: 0;
            }
        }
    }

    &__add-image {
        margin-right: 10px;
    }

    &__add-text {
        @include font-regular();
        font-size: 16px;
        line-height: 19px;
        color: $pricePriceSpan;
        margin: 0;
    }

    &__year-plan {
        @include font-regular();
        font-size: 15px;
        line-height: 1;
        color: $priceSectionHeader;
        margin: 0;
    }

    &__add-person {
        display: flex;
        align-items: stretch;
        justify-content: center;
        flex-wrap: wrap;
    }

    &__add-option {
        display: flex;
        align-items: center;

        &_fix {
            margin-left: -11px;
        }

        &_fix-2 {
            margin-left: -6px;
        }
    }
}