@import 'vars';

@font-face {
	font-family: "OpenSans";
	font-style: normal;
	src: url('../fonts/OpenSans-Regular.ttf');
}

@font-face {
    font-family: "OpenSans-Light";
    font-style: normal;
    src: url('../fonts/OpenSans-Light.ttf');
}

@font-face {
    font-family: "OpenSans-Bold";
    font-style: normal;
    src: url('../fonts/OpenSans-Bold.ttf');
}


body {
	font-family: "OpenSans", 'Helvetica Neue', Arial, sans-serif;
	font-weight: normal;
}

.main-container {
    margin: 0 auto;
    position: relative;
    padding: 0 15px;

    @include adaptive(desktop) {
        max-width: 1000px;
        padding: 0;
    }

    @include adaptive(desktop-ext) {
        max-width: 1150px;
    }
}

main,
.main {
	position: relative;
	z-index: 2;
    background: $colorBlack url('../img/image-1.jpg') top no-repeat;

    &_pages {
        background: $colorBlack;
        margin-top: -1px;
        margin-bottom: -1px;

        & .content {
            border-radius: 0;
        }

        & .main-container {
            max-width: 1280px;
            padding: 0 60px;
        }

        & .content__projects-head {
            display: none;
        }

        & .content__projects-button {
            display: none;
        }

        & .content__video {

            & > .main-container {
                padding: 0 30px;
            }
        }
    }

    &_pages-about {

        & .content__projects-head {
            display: block;
        }

        & .content__wrapper {
            padding-bottom: 40px;
        }
    }
}

a {
	outline: none;
}

fieldset {
	border: 0;
	padding: 0;
}

section {
	overflow: hidden;
	margin-top: 0;
}

.headers {

    & > .main-container {
        background: url('../img/image-4.jpg') center no-repeat;
        background-size: cover;
    }

    &_station {

        & > .main-container {
            background: $colorWhite;
        }

        & .headers__h1 {
            color: $colorBlack;
            margin: 0;
        }

        .breadcrumbs {
            color: $colorBlack;
        }
    }

    &__wrapper {
        display: flex;
        flex-wrap: wrap;

        & > * {
            flex-basis: 100%;
        }
    }

    &__h1 {
        font-size: 52px;
        line-height: 57px;
        color: $colorWhite;
        font-weight: normal;
        margin: 10px 0 70px;
    }
}

.breadcrumbs {
    color: $colorWhite;
    margin: 20px 0;

    &__active {
        color: $borderPink;
    }
}
