@import 'vars';

@font-face {
	font-family: "CRC25";
	font-style: normal;
	src: url('../fonts/CRC25.otf');
}

@font-face {
    font-family: "CRC35";
    font-style: normal;
    src: url('../fonts/CRC35.otf');
}

@font-face {
    font-family: "CRC55";
    font-style: normal;
    src: url('../fonts/CRC55.otf');
}

@font-face {
    font-family: "CirceBold";
    font-style: normal;
    src: url('../fonts/Circe-Bold.otf');
}

@font-face {
    font-family: "CirceExtraBold";
    font-style: normal;
    src: url('../fonts/Circe-ExtraBold.otf');
}

body {
	font-family: "CRC35", 'Helvetica Neue', Arial, sans-serif;
	font-weight: normal;
}

.main-container {
    margin: 0 auto;
    position: relative;
    padding: 0 15px;

    @include adaptive(desktop) {
        max-width: 1000px;
        padding: 0;
    }

    @include adaptive(desktop-ext) {
        max-width: 1150px;
    }
}

main {
	position: relative;
	z-index: 2;
}

a {
	outline: none;
}

fieldset {
	border: 0;
	padding: 0;
}

section {
	overflow: hidden;
	margin-top: 0;
}

