@import './vars';

.main-calc {
    width: 100%;
    margin-bottom: 30px;
}

.main-calc {
    margin-bottom: 40px;
}

.main-calc h2 {
    font-size: 38px;
    font-weight: 400;
    margin-bottom: 5px;
    text-align: center;
}

.main-calc h4 {
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 30px;
    text-align: center;
}

.calc-inp {
    background: transparent;
    border: 0;
    text-align: right;
    max-width: 100px;
}

.calc-inp:active, .calc-inp:focus {
    border: 0;
    background: transparent;
}

.calc-label {
    font-size: 16px;
    font-weight: 500;
    margin-top: 10px;
    display: block;
    color: #797979;
}

.calc-type {
    font-size: 18px;
    margin-top: 0;
    display: block;
    color: #797979;
}

.calc-total-title {
    font-size: 15px;
}

.calc-total-count {
    margin-top: -8px;
}

.calc-sale {
    width: 100%;
    border-top: 1px #d5dde9 solid;
    padding-top: 20px;
    margin-top: 10px;
    text-align: center;
    font-size: 18px;
    color: #ff7200;
}

.ccalc-mp-c {
    font-size: 54px;
    font-weight: 300;
}

.calc-total-count-a {
    margin-top: 20px;
    border-top: 1px #d8d8d8 solid;
}

.calc-total-count-a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    color: #797979;
}

.calc-label-2 {
    max-width: 100px;
}

.calc-tb input {
    font-size: 18px;
    color: #000000;
    max-width: 100px;
}

.calc-total-count-a span:last-child {
    display: block;
    font-size: 18px;
    color: #000000
}

.credit-error {
    display: none;
    text-align: center;
    padding: 15px 0;
    border: 1px #eb4815 solid;
    font-size: 15px;
    color: #eb4815;
}

.calc-btn {
    margin-top: 25px;
}

.row.mb30 {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    @include adaptive(desktop) {
        flex-wrap: nowrap;
    }

    & > .col-md-2,
    & > .col-md-8 {
        flex-basis: 100%;

        @include adaptive(desktop) {
            flex-basis: auto;
        }
    }

    @include adaptive(desktop) {
        margin-top: 0;
    }

    .col-md-2 {

        @include adaptive(desktop) {
            flex-basis: 15%;
        }
    }

    .col-md-8 {

        @include adaptive(desktop) {
            flex-basis: 70%;
        }
    }

    .calc-type {
        display: flex;
        justify-content: flex-end;
    }

    .calc-label {
        margin-bottom: 30px;

        @include adaptive(desktop) {
            margin-bottom: 0;
        }
    }
}

/* Ion.RangeSlider
// css version 1.8.1
// by Denis Ineshin | ionden.com
// ===================================================================================================================*/

/* =====================================================================================================================
// RangeSlider */

.irs {
    position: relative;
    display: block;
}

.irs-line {
    position: relative;
    display: block;
    overflow: hidden;
}

.irs-line-left, .irs-line-mid, .irs-line-right {
    position: absolute;
    display: block;
    top: 0;
}

.irs-line-left {
    left: 0;
    width: 10%;
}

.irs-line-mid {
    left: 10%;
    width: 80%;
}

.irs-line-right {
    right: 0;
    width: 10%;
}

.irs-diapason {
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
}

.irs-slider {
    position: absolute;
    display: block;
    cursor: default;
    z-index: 1;
}

.irs-slider.single {
    left: 10px;
}

.irs-slider.single:before {
    position: absolute;
    display: block;
    content: "";
    top: -50%;
    left: -100%;
    width: 300%;
    height: 200%;
    background: rgba(0, 0, 0, 0.0);
}

.irs-slider.from {
    left: 100px;
}

.irs-slider.from:before {
    position: absolute;
    display: block;
    content: "";
    top: -50%;
    left: -200%;
    width: 300%;
    height: 200%;
    background: rgba(0, 0, 0, 0.0);
}

.irs-slider.to {
    left: 300px;
}

.irs-slider.to:before {
    position: absolute;
    display: block;
    content: "";
    top: -50%;
    left: 0;
    width: 300%;
    height: 200%;
    background: rgba(0, 0, 0, 0.0);
}

.irs-slider.last {
    z-index: 2;
}

.irs-min {
    position: absolute;
    display: block;
    left: 0;
    cursor: default;
}

.irs-max {
    position: absolute;
    display: block;
    right: 0;
    cursor: default;
}

.irs-from, .irs-to, .irs-single {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    cursor: default;
    white-space: nowrap;
}

.irs-grid {
    position: absolute;
    display: none;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20px;
}

.irs-with-grid .irs-grid {
    display: block;
}

.irs-grid-pol {
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 8px;
    background: #000000;
}

.irs-grid-pol.small {
    height: 4px;
}

.irs-grid-text {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100px;
    white-space: nowrap;
    text-align: center;
    font-size: 9px;
    line-height: 9px;
    color: #000000;
}

/* Ion.RangeSlider, Flat UI Skin
// css version 1.8.1
// by Denis Ineshin | ionden.com
// ===================================================================================================================*/

/* =====================================================================================================================
// Skin details */

.irs-line-mid,
.irs-line-left,
.irs-line-right,
.irs-diapason,
.irs-slider {
    background: url(../img/calc/sprite-skin-flat.png) repeat-x;
}

.irs {
    height: 40px;
}

.irs-with-grid {
    height: 60px;
}

.irs-line {
    height: 12px;
    top: 25px;
}

.irs-line-left {
    height: 12px;
    background-position: 0 -30px;
}

.irs-line-mid {
    height: 12px;
    background-position: 0 0;
}

.irs-line-right {
    height: 12px;
    background-position: 100% -30px;
}

.irs-diapason {
    height: 12px;
    top: 25px;
    background-position: 0 -60px;
}

.irs-slider {
    width: 16px;
    height: 22px;
    top: 22px;
    background-position: 0 -90px;
    cursor: pointer;
}

#irs-active-slider, .irs-slider:hover {
    background-position: 0 -120px;
}

.irs-min, .irs-max {
    color: #999999;
    font-size: 10px;
    line-height: 1.333;
    text-shadow: none;
    top: 0;
    padding: 1px 3px;
    background: #e1e4e9;
    border-radius: 4px;
}

.irs-from, .irs-to, .irs-single {
    color: #ffffff;
    font-size: 12px;
    line-height: 1.333;
    text-shadow: none;
    padding: 1px 5px;
    background: #55c5ed;
    border-radius: 4px;
}

.irs-from:after, .irs-to:after, .irs-single:after {
    position: absolute;
    display: block;
    content: "";
    bottom: -6px;
    left: 50%;
    width: 0;
    height: 0;
    margin-left: -3px;
    overflow: hidden;
    border: 3px solid transparent;
    border-top-color: #55c5ed;
}

.irs-grid-pol {
    background: #e1e4e9;
}

.irs-grid-text {
    color: #999999;
}
