//Colors

$colorWhite: #ffffff;
$colorBlack: #000000;
$colorGrey: #f1f1f1;
$colorGrey2: #f5f5f5;

// Banks colors

$menuHoverColor: #dcd9e2;
$menuTextColor: #424159;
$logoColor: #3e0059;

$buttonColor: #834a88;
$buttonHover: #3e0059;

$menuShadowColor: #dad7de;

$sectionBackground: #3b3c46;

$footerText: #3b3c46;

$modalOverlay: #433486;

//Media queries
$mobile-width: 321px;
$tablet-width: 700px;
$desktop-width: 1200px;
$desktop-ext-width: 1366px;
$desktop-mac-width: 1440px;
$desktop-extra-width: 1600px;
$retina-res: "min-resolution: 144dpi";
$retina-dpi: "min-resolution: 1.5dppx";

//Mixins

@mixin font-regular() {
    font-family: "RobotoRegular", 'Helvetica Neue', Arial, sans-serif;
    font-weight: normal;
}

@mixin font-thin() {
    font-family: "RobotoThin", 'Helvetica Neue', Arial, sans-serif;
    font-weight: normal;
}

@mixin font-bold() {
    font-family: "RobotoBold", 'Helvetica Neue', Arial, sans-serif;
    font-weight: 700;
}

@mixin adaptive($media) {
    @if $media == mobile {
        @media (max-width: $mobile-width) {
            @content;
        }
    }
    @if $media == tablet {
        @media (min-width: $tablet-width) {
            @content;
        }
    }
    @if $media == desktop {
        @media (min-width: $desktop-width) {
            @content;
        }
    }
    @if $media == desktop-mac-width {
        @media (min-width: $desktop-width) {
            @content;
        }
    }
    @if $media == desktop-ext {
        @media (min-width: $desktop-ext-width) {
            @content;
        }
    }
    @if $media == desktop-extra {
        @media (min-width: $desktop-extra-width) {
            @content;
        }
    }
    @if $media == retina {
        @media ($retina-res), ($retina-dpi) {
            @content;
        }
    }
}
