//Colors

$colorPurple: #010028;
$colorWhite: #ffffff;
$colorBlack: #000000;
$colorGrey: #f1f1f1;

// Mojo colors

$menuHoverColor: #dcd9e2;
$menuTextColor: #424159;

$buttonColor: #433486;

$menuShadowColor: #dad7de;

$contentSpanText: #685ba4;
$contentHeaderColor: #413b60;
$contentTextColor: #181723;

$socialTextColor: #bbb7c1;
$socialSpanColor: #7a6bbe;

$navButtonColor: #e2dfe7;
$navActiveButtonColor: #6f5dbd;

$sectionBackground: #3b3c46;

$platformHeader: #abaab4;
$platformHeaderSpan: #fff;
$platformTextColor: #a9a8ad;
$platformColumnHeader: #fff;
$platformColumnText: #a9a8ad;
$platformColumnItemHeader: #8474ca;

$workHeader: #3b3c46;
$workStepColor: #696a70;
$workSpanColor: #fff;
$workActiveItem: #6f5dbd;
$workDividerColor: #d7d8da;
$workButtonGradientLeft: #433486;
$workButtonGradientRight: #885f8f;

$priceSectionBackground: #3b3c46;
$priceSectionHeader: #abaab4;
$priceSectionHeaderSpan: #fff;
$priceSectionItemBorder: #4c4d58;
$priceSectionItemHeader: #ecaea3;
$priceSectionOptionText: #fff;
$pricePrice: #8474ca;
$pricePriceSpan: #fff;

$footerText: #3b3c46;

$modalHeader: #685ba4;
$modalHeaderSpan: #413b60;
$modalHeaderText: #181723;
$modalHeaderText2: #433486;

//Media queries
$mobile-width: 321px;
$tablet-width: 700px;
$desktop-width: 1200px;
$desktop-ext-width: 1366px;
$desktop-mac-width: 1440px;
$desktop-extra-width: 1600px;
$retina-res: "min-resolution: 144dpi";
$retina-dpi: "min-resolution: 1.5dppx";

//Mixins

@mixin font-regular() {
    font-family: "CRC55", 'Helvetica Neue', Arial, sans-serif;
    font-weight: normal;
}

@mixin font-light() {
    font-family: "CRC35", 'Helvetica Neue', Arial, sans-serif;
    font-weight: normal;
}

@mixin font-thin() {
    font-family: "CRC25", 'Helvetica Neue', Arial, sans-serif;
    font-weight: normal;
}

@mixin font-medium() {
    font-family: "CirceBold", 'Helvetica Neue', Arial, sans-serif;
    font-weight: 700;
}

@mixin font-bold() {
    font-family: "CirceExtraBold", 'Helvetica Neue', Arial, sans-serif;
    font-weight: 700;
}

@mixin adaptive($media) {
    @if $media == mobile {
        @media (max-width: $mobile-width) {
            @content;
        }
    }
    @if $media == tablet {
        @media (min-width: $tablet-width) {
            @content;
        }
    }
    @if $media == desktop {
        @media (min-width: $desktop-width) {
            @content;
        }
    }
    @if $media == desktop-mac-width {
        @media (min-width: $desktop-width) {
            @content;
        }
    }
    @if $media == desktop-ext {
        @media (min-width: $desktop-ext-width) {
            @content;
        }
    }
    @if $media == desktop-extra {
        @media (min-width: $desktop-extra-width) {
            @content;
        }
    }
    @if $media == retina {
        @media ($retina-res), ($retina-dpi) {
            @content;
        }
    }
}

@mixin bg-images($item, $source) {
    @for $i from 1 to 31 {
        .#{$item}-#{$i} {
            background: url('#{$source}-#{$i}.jpg') no-repeat center;
            background-size: cover;
        }
    }
}


