//Colors

$colorWhite: #ffffff;
$colorBlack: #000000;
$colorGrey: #f1f1f1;
$colorGrey2: #f5f5f5;

$linkColor: #f07d00;
$textColor: #e3ddd1;
$headerBg: #f1f1f1;
$headerBorder: #313131;
$menuBg: #f1f1f1;
$menuBorder: #422f25;
$menuColor: $colorBlack;
$menuHover: transparentize(#c7b0a0, 0.5);
$buttonColor: #000;
$buttonBorderColor: #fff5e3;
$buttonHover: #3e0059;

$timerText: #fff5e3;
$timerBorder: #dbbb8e;

$regBorder: #b39a78;
$regText: #272727;

$itemBg: #ffee1e;

$actionHeader: #272727;
$actionText: #404040;
$actionButton: #aa8a68;

$footerText: #c7b0a0;
$footerBorder: #dbbb8e;

//Media queries
$mobile-width: 320px;
$mobile-ext-width: 500px;
$tablet-width: 600px;
$tablet-max-width: 1024px;
$desktop-width: 1200px;
$desktop-ext-width: 1366px;
$desktop-mac-width: 1440px;
$desktop-extra-width: 1600px;
$desktop-fhd-width: 1800px;
$retina-res: "min-resolution: 144dpi";
$retina-dpi: "min-resolution: 1.5dppx";

//Mixins

@font-face {
    font-family: "CirceLight";
    font-style: normal;
    src: url('../fonts/Circe-Light.ttf');
}

@font-face {
    font-family: "CirceRegular";
    font-style: normal;
    src: url('../fonts/Circe-Regular.ttf');
}

@font-face {
    font-family: "CirceBold";
    font-style: normal;
    src: url('../fonts/Circe-Bold.ttf');
}

@font-face {
    font-family: "Bodoni";
    font-style: normal;
    src: url('../fonts/Bodoni.ttf');
}

@mixin font-regular() {
    font-family: "CirceRegular", 'Helvetica Neue', Arial, sans-serif;
    font-weight: normal;
}

@mixin font-light() {
    font-family: "CirceLight", 'Helvetica Neue', Arial, sans-serif;
    font-weight: normal;
}

@mixin font-bold() {
    font-family: "CirceBold", 'Helvetica Neue', Arial, sans-serif;
    font-weight: 700;
}

@mixin font-bodoni() {
    font-family: "Bodoni", 'Helvetica Neue', Arial, sans-serif;
    font-weight: 700;
}

@mixin adaptive($media) {
    @if $media == mobile {
        @media (min-width: $mobile-width) and (max-width: $mobile-ext-width) {
            @content;
        }
    }
    @if $media == tablet-max {
        @media (min-width: $tablet-width) and (max-width: $tablet-max-width) {
            @content;
        }
    }
    @if $media == tablet {
        @media (min-width: $tablet-width) {
            @content;
        }
    }
    @if $media == desktop {
        @media (min-width: $desktop-width) {
            @content;
        }
    }
    @if $media == desktop-mac-width {
        @media (min-width: $desktop-mac-width) {
            @content;
        }
    }
    @if $media == desktop-ext {
        @media (min-width: $desktop-ext-width) {
            @content;
        }
    }
    @if $media == desktop-extra {
        @media (min-width: $desktop-extra-width) {
            @content;
        }
    }
    @if $media == desktop-fhd {
        @media (min-width: $desktop-fhd-width) {
            @content;
        }
    }
    @if $media == retina {
        @media ($retina-res), ($retina-dpi) {
            @content;
        }
    }
}
