@import '../../sass/vars';

.rules {

    &__content {
        flex: 0 0 auto;
        background: $personalBg;
        padding: 15px 0 20px;
        box-shadow: 0 0 10px 0 transparentize($colorBlack, 0.25);
        border-radius: 5px;
        display: flex;
        flex-wrap: wrap;
    }

    &__h1 {
        @include font-bold-cuprum();
        font-size: 24px;
        line-height: 30px;
        color: $personalHeader;
        text-transform: uppercase;
        text-align: center;
        margin: 0 20px;
        padding: 15px 0;
        width: 100%;
        box-sizing: border-box;
        border-bottom: 1px solid $partnersBorder;

        @include adaptive(tablet) {
            text-align: left;
            margin: 0 20px;
        }

        @include adaptive(desktop) {
            margin: 0 50px;
            font-size: 28px;
        }
    }

    &__h2,
    &__span,
    &__h3 {
        @include font-regular-cuprum();
        font-size: 20px;
        line-height: 26px;
        color: $rulesHeder;

        @include adaptive(desktop) {
            font-size: 24px;
            line-height: 30px;
        }
    }

    &__h3 {
        @include font-bold();
        font-size: 16px;
        text-align: left;

        @include adaptive(desktop) {
            line-height: 28px;
        }
    }

    &__span {
        font-size: 16px;
        line-height: 20px;
        display: block;

        @include adaptive(desktop) {
            font-size: 24px;
            line-height: 30px;
        }
    }

    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        margin: 20px 0;
        padding: 0 20px;
        justify-content: center;

        @include adaptive(desktop) {
            padding: 0 50px;
        }
    }

    &__item {
        text-align: left;
        color: $rulesText;
        padding: 0;
    }

    &__text-block {

    }

    &__text {
        @include font-regular();
        font-size: 14px;
        line-height: 20px;
        list-style: none;
        margin: 10px 0;
        margin-left: 20px;

        &_italic {
            font-style: italic;
        }

        @include adaptive(desktop) {
            font-size: 15px;
            line-height: 24px;
        }

        a {
            color: #fff;
            text-decoration: underline;
        }
    }

    &__no-mobile {

        @include adaptive(mobile) {
            display: none;
        }
    }

    &__mobile {

        @include adaptive(tablet) {
            display: none;
        }
    }

    &__table {
        width: 100%;
        border-collapse: collapse;

        @include adaptive(mobile) {
            font-size: 8px;
        }

    }

    &__thead,
    &__td {
        border: 1px solid #fff;
        padding: 10px;
        max-width: 285px;

        @include adaptive(mobile) {
            padding: 2px;
        }
    }

    &__td span {
        position: relative;
        margin-right: 10px;
    }

    &__uplink {
        color: #fff;
        position: absolute;
        right: -4px;
        top: -6px;
    }

    &__uplink-block {
        margin-top: 50px;
        border-top: 1px solid #fff;
    }

    &__uplink-text {
        text-align: left;
        color: #fff;
        position: relative;
        margin: 10px 0;
        padding-left: 10px;
        display: block;

        @include adaptive(mobile) {
            font-size: 10px;
        }

        span {
            position: absolute;
            left: -4px;
            top: -4px;
            font-size: 12px;
        }

    }
}