@import '../../sass/vars';

.contacts {

    &__items {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;

        @include adaptive(desktop) {
            flex-wrap: nowrap;
        }
    }

    &__item {
        flex-basis: 100%;
        text-align: left;
        margin-bottom: 30px;
        position: relative;

        @include adaptive(desktop) {
            flex-basis: 60%;
            margin-bottom: 0;
        }

        &:first-child {

            @include adaptive(desktop) {
                flex-basis: 28%;
            }
        }
    }

    &__map {
        height: 400px;
        width: 100%;
    }

    &__h4 {
        font-size: 28px;
        line-height: 1.17;
        font-weight: 600;
    }

    &__hidden {

        @include adaptive(desktop) {

            &:hover {

                & > .contacts__contact_time-show {

                    & + .contacts__wrapper-hidden {
                        opacity: 1;
                    }
                }
            }
        }
    }

    &__wrapper-hidden {
        opacity: 0;
        transition: 0.3s all ease;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        position: absolute;
        background: #fff;
        box-shadow: 0 2px 10px 0 #ccc;
        padding: 20px;
        left: 110%;
        top: 50%;
        transform: translateY(-50%);
        z-index: 3;
        text-align: center;
        min-width: 400px;
    }

    &__hidden-header {
        font-size: 20px;
        line-height: 26px;
        font-weight: bold;
        text-transform: uppercase;
        margin: 0;
        flex-basis: 100%;
    }

    &__hidden-text {
        flex-basis: 100%;

        &:last-child {
            margin-top: 0;
        }
    }

    &__contact {
        display: block;
        text-decoration: none;
        color: $colorBlack;
        font-size: 20px;
        line-height: 1.55;
        font-weight: 300;
        margin: 0;
    }

    &__social {
        margin-top: 30px;
    }
}