@import '../../sass/vars';

.station {

    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        max-width: 100%;
    }

    &__item {
        flex-basis: 100%;
        max-width: 100%;
    }

    &__image {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__img {
        max-width: 100%;
        height: auto;
    }
}