@import '../../sass/vars';

.station {

    &_second {
        display: none;

        @include adaptive(desktop) {
            display: block;
        }

        & .station__image {

            &:not(:last-child) {
                margin-right: 20px;
            }
        }

        & > .main-container {
            padding-left: 8px;
            padding-right: 5px;

            @include adaptive(desktop) {
                padding-left: 38px;
                padding-right: 25px;
            }
        }
    }

    &.station_ufa:not(.station_second) {

        & > .main-container {
            padding: 0;

            @include adaptive(desktop) {
                padding: 0 60px;
            }
        }
    }

    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        max-width: 100%;

        & .slick-next {
            right: 5px;
            z-index: 1;
        }

        & .slick-prev {
            left: 5px;
            z-index: 1;
        }
    }

    &__item {
        flex-basis: 100%;
        max-width: 100%;

        &_big {
            max-height: 500px;
            max-width: 100%;
            overflow: hidden;
            display: flex;
            align-items: center;
        }

        &_small {
            margin-top: 20px;

            & .slick-list {

                &.draggable {

                    @include adaptive(desktop) {
                        padding-top: 20px !important;
                    }
                }
            }
        }
    }

    &__image-inner {
        opacity: 0;
        transition: 0.3s ease all;
    }

    &__image {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        box-shadow: $stationImageShadow2;
        transition: 0.3s ease all;
        border-radius: 5px;
        overflow: hidden;

        &:hover {
            box-shadow: $stationImageShadow;

            & .station__image-inner {
                opacity: 1;
            }
        }
    }

    &__inner {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: $standartGradient3;
        opacity: 0.7;
    }

    &__inner-text {
        position: absolute;
        color: $colorWhite;
        content: '';
        display: flex;
        align-items: center;
        justify-content: center;
        left: 50%;
        top: 50%;
        width: 40px;
        height: 40px;
        margin-top: -20px;
        margin-left: -20px;
        border-radius: 50%;
        border: 1px solid $colorWhite;
    }

    &__img {
        max-width: 100%;
        height: auto;
        margin: 0 auto;
        width: 100%;

        &_big {
            max-width: 100%;
            height: auto;
            margin: 0 auto;
            width: 100%;
        }
    }
}