@import '../../sass/vars';

.steps {
    padding-top: 0;

    &__h2 {
        max-width: 100%;
    }

    &__arrow {
        width: 60px;
        stroke: $colorBlack;
        fill: none;
        transform: rotate(90deg);
        height: 60px;
        margin: 30px 0;

        @include adaptive(desktop) {
            transform: rotate(0deg);
            height: auto;
            margin: 0;
        }
    }

    &__items {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin: 50px 0;
        flex-wrap: wrap;

        @include adaptive(desktop) {
            flex-wrap: nowrap;
        }
    }

    &__item {
        flex-basis: 100%;

        @include adaptive(desktop) {
            flex-basis: 20%;
        }
    }

    &__image {
        width: 100px;
        height: 100px;
    }

    &__h5 {
        font-size: 18px;
        line-height: 1.55;
        font-weight: 600;
        margin-bottom: 0;
        margin-top: 10px;
    }

    &__text {
        font-size: 15px;
        line-height: 1.55;
        font-weight: 300;
        margin-top: 10px;
    }
}