@import '../../sass/vars';

.winners {
    padding: 10px 0 0;

    &__content {
        flex: 0 0 auto;
        background: $personalBg;
        padding: 15px 0 20px;
        box-shadow: 0 0 10px 0 transparentize($colorBlack, 0.25);
        border-radius: 5px;
        display: flex;
        flex-wrap: wrap;
    }

    &__h1 {
        @include font-regular-cuprum();
        font-weight: 700;
        font-size: 24px;
        line-height: 30px;
        color: #e3ddd1;
        text-transform: uppercase;
        text-align: center;
        margin: 0 20px;
        padding: 15px 0;
        width: 100%;
        box-sizing: border-box;
        border-bottom: 1px solid #7e6556;
    }

    &__h2 {
        @include font-regular-cuprum();
        font-size: 22px;
        line-height: 24px;
        color: #e3ddd1;
        margin: 20px 20px 10px;
    }

    &__link-block {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        margin: 0 20px;
        background: $personalInnerBg;
        border-radius: 5px;
        padding: 10px 20px;
        position: relative;
        justify-content: center;

        &::before {
            position: absolute;
            content: '';
            height: 1px;
            width: 100%;
            left: 0;
            top: 0;
            background: $personalBorder;
        }
    }

    &__link {
        @include font-bold-cuprum();
        text-transform: uppercase;
        font-size: 16px;
        line-height: 26px;
        color: $personalTextOrange;

        &_active {
            color: $personalText;
        }
    }

    &__info,
    &__change, 
    &__newcode,
    &__yourcodes {
        text-align: left;
        padding: 20px;
        width: 100%;
    }
    
    &__newcode {
        text-align: center;

        & .winners__button {
            margin-top: 0;
        }
    }

    &__change {

        & .winners__input {
            display: block;
        }
    }

    &__input {
        width: 100%;
        margin-top: 5px;
        border: 1px solid $personalInputBorder;
        border-radius: 2px;
        color: $personalHeader;
        padding: 5px 10px;
        box-sizing: border-box;
        @include font-regular();
        font-size: 15px;
    }

    &__item {
        margin: 20px 0;
    }

    &__label,
    &__value {
        @include font-regular();
        font-size: 14px;
        margin: 0;
        color: $personalText;
    }

    &__code {
        @include font-regular-cuprum();
        font-size: 20px;
        color: $personalText;
        margin: 10px 0;
        display: block;
    }

    &__value {
        font-weight: 700;
        color: $personalHeader;
        margin: 3px 0;
    }

    &__button {
        margin-top: 20px;
        display: inline-block;
    }

    &__yourcodes {
        display: flex;
        flex-direction: column;
    }

    &__code-item {
        display: flex;
        justify-content: space-between;

        &_header {

            & .winners__left {
                background: $personalCodeHeader;

                & .winners__header-text:last-child {

                    @include adaptive(tablet) {
                        background: $personalCodeHeader3;
                    }
                }
            }

            & .winners__right {
                background: $personalCodeHeader2;
            }
        }

        &:not(.winners__code-item_header) {
            border-bottom: 1px solid $personalCodeBorder;
        }
    }

    &__left,
    &__right {
        padding: 7px 5px;
        width: 100%;
        box-sizing: border-box;

        @include adaptive(tablet) {
            min-height: 34px;
            padding: 0;
        }
    }

    &__left {
        flex: 0 1 60%;

        @include adaptive(tablet) {
            flex: 0 1 70%;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        span {

            @include adaptive(tablet) {
                display: none;
            }
        }

        & > * {
            flex: 0 1 50%;
            text-align: center;
        }
    }

    &__right {
        flex: 0 1 39.5%;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;

        @include adaptive(tablet) {
            flex: 0 1 30%;
        }
    }

    &__header-text {
        @include font-regular();
        font-size: 14px;
        line-height: 20px;
        display: inline-block;

        @include adaptive(tablet) {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    &__code-text,
    &__value-text {
        font-size: 14px;
        color: $personalText;
        font-weight: 700;
    }

    &__code-text {

        @include adaptive(tablet) {
            text-align: left;
            padding-left: 20px;
        }
    }

    &__data-text {
        font-size: 11px;
        color: $personalText;
    }
}
