@import '../../sass/vars';

.logo {
    padding: 0;

    &__logo {
        height: 15vh;
    }

    &__wrapper {
        margin: 0;

        @include adaptive(desktop) {
            display: none;
        }
    }
}