@import '../../sass/vars';

.work {
    padding-top: 0;

    &__items {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;

        @include adaptive(desktop) {
            flex-wrap: nowrap;
        }
    }

    &__item {
        flex-basis: 100%;

        @include adaptive(desktop) {
            flex-basis: 45%;
        }
    }

    &__h2 {
        max-width: 100%;
    }

    &__text {
        font-size: 20px;
        line-height: 1.55;
        font-weight: 300;
    }
}