@import '../../sass/vars';

.header {
    position: relative;
    text-align: center;
    background: $colorWhite;
    transition: all 0.3s ease;
    z-index: 3;

    @include adaptive(desktop) {
        background: $colorWhite;
    }

    & > .main-container {
        padding: 0;
        margin: 0 auto;

        @include adaptive(desktop-ext) {
            max-width: 1280px;
        }
    }

    &_fixed {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        background: $colorWhite;
        z-index: 5;

        @include adaptive(desktop) {
            background: $colorWhite;
        }

        & + main {
            margin-top: 0;

            @include adaptive(desktop) {
                margin-top: 139px;
            }
        }

        & .header__navbar {
            padding: 15px 0;

            & > .header__menu {
                display: none;
            }
        }

        & .header__menu-logo-small {
            display: block;
        }

        & .header__contacts {
            display: none;
        }
    }

    &_fixed-static {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        background: $colorWhite;
        z-index: 5;

        @include adaptive(desktop) {
            position: relative;
            top: auto;
            left: auto;
            right: auto;
        }

        & + .main,
        & + .main_pages {
            margin-top: 74px;

            @include adaptive(desktop) {
                margin-top: 0;
            }
        }
    }

    &_pages {
        background: $colorBlack;

        & > .main-container {
            background: $colorWhite;
            padding: 0;

            @include adaptive(desktop) {
                padding: 0 60px;
            }
        }
    }

    &__logo {
        width: 125px;
    }

    &__mobile-menu-wrapper {
        display: block;
        position: relative;

        @include adaptive(desktop) {
            display: none;
        }
    }

    &__mobile-menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
        background: $colorWhite;
        z-index: 5;
        position: relative;

        @include adaptive(desktop) {
            display: none;
        }
    }

    &__callback-mobile {
        left: -115%;
        transition: 0.3s ease all;
        background: $colorWhite;
        z-index: 5;
        position: fixed;
        width: 100%;
        top: 0;
        bottom: 0;
        padding: 20px 35px;

        &_open {
            left: 0;
            background: $colorWhite;
        }

        & .content__form {
            margin-top: 20px;
        }

        & .content__chem-buttons_mobile {
            padding: 0;

            & .button {
                color: $contentDescription;
                width: 60%;
            }
        }

        & .content__textarea {
            height: 140px;
            margin-bottom: 0;
        }

        & .content__input,
        & .content__textarea {
            color: $contentDescription;
            border-color: $borderPartners;
        }

        & .content__textarea-label {
            top: 40px;
        }

        & .content__input-label,
        & .content__textarea-label {
            color: $formLabelColor;
            width: auto;
            text-align: left;
            right: 20px;
        }
    }

    &__menu-mobile {
        right: -115%;
        transition: 0.3s ease all;
        background: $colorWhite;
        z-index: 5;
        position: fixed;
        width: 100%;
        top: 0;
        bottom: 0;
        padding: 20px 35px;

        &_open {
            right: 0;
            background: $colorWhite;
        }

        & .header__menu-item {
            background: transparent;
            border: none;
            padding: 10px 0;

            &:last-child {
                border-width: 1px 0 1px 0;
            }

            &_active {
                padding-left: 30px;
                position: relative;

                &::before {
                    position: absolute;
                    content: '';
                    width: 20px;
                    height: 2px;
                    top: 50%;
                    margin-top: -1px;
                    left: 0;
                    background: $standartGradient3;
                }
            }
        }


        & .header__menu-link {
            color: $colorBlack;
            font-weight: bold;

            &_dropdown {

                &::before {
                    display: block;
                    content: '';
                    position: absolute;
                    left: 85px;
                    width: 10px;
                    height: 10px;
                    transform: rotate(-90deg);
                    background: url('../img/arrow-down.svg') center no-repeat;

                    @include adaptive(desktop) {

                    }
                }
            }
        }

        @include adaptive(desktop) {
            display: none;
        }
    }

    &__copyright {
        margin-top: 30px;
        text-align: left;
    }

    &__copyright-text {
        margin: 0;
        line-height: normal;
        font-size: 14px;
    }

    &__h2 {
        line-height: normal;
        font-size: 16px;
        text-transform: uppercase;
        margin: 0;
        text-align: left;

        &_back {
            display: none;
        }
    }

    &__menu-content-item {

        &_second {
            display: none;
        }
    }

    &__close {
        position: absolute;
        top: 20px;
        right: 20px;
        width: 20px;
        height: 20px;
        transform: rotate(45deg);
        cursor: pointer;

        &::before,
        &::after {
            position: absolute;
            content: '';
            width: 20px;
            height: 2px;
            background: $colorBlack;
            top: 50%;
            left: 50%;
            margin-top: -2px;
            margin-left: -9px;
        }

        &::after {
            height: 20px;
            width: 2px;
            top: 1px;
            margin-left: 0;
        }

        &:hover,
        &:active {

            &::before,
            &::after {
                background: $standartGradient3;
            }
        }
    }

    &__mobile-item {
        display: flex;
        align-items: center;
        position: relative;

        &:last-child {
            width: 24px;
            height: 24px;
        }
    }

    &__burger {
        position: absolute;
        width: 18px;
        height: 3px;
        background: $standartGradient3;
        top: 50%;
        right: 0;
        margin-top: -1px;
        cursor: pointer;

        &::before,
        &::after {
            content: '';
            position: absolute;
            height: 3px;
            background: $standartGradient3;
            right: 0;
            width: 24px;
        }

        &::before {
            top: -8px;
        }

        &::after {
            bottom: -8px;
        }
    }

    &__phone {
        width: 30px;
        height: 30px;
    }

    &__mobile-logo {
        width: 100px;
    }

    &__menu-logo-small {
        display: none;
        width: 155px;
        height: 31px;
    }

    &__navbar,
    &__contacts {
        display: none;
        flex-wrap: wrap;
        position: relative;
        z-index: 2;

        @include adaptive(desktop) {
            display: flex;
            padding: 15px 0;
            align-items: center;
        }
    }

    &__navbar {

        @include adaptive(desktop) {
            padding-top: 0;
            padding-bottom: 0;
        }
    }

    &__contacts {

        @include adaptive(desktop) {
            padding-bottom: 0;
        }
    }

    &__search-img {
        width: 20px;
        height: 20px;
    }

    &__menu {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    &__menu-list {
        margin: 0;
        padding: 0;
        list-style: none;

        @include adaptive(desktop) {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            align-items: center;
        }

        @include adaptive(desktop-extra) {
            flex-wrap: nowrap;
        }
    }

    &__menu-link {
        @include font-regular();
        font-size: 14px;
        line-height: 1;
        color: $menuTextColor;
        text-decoration: none;
        white-space: nowrap;
        display: flex;
        align-items: center;
        position: relative;

        &_dropdown {

            &::before {
                display: none;
                content: '';
                position: absolute;
                right: -20px;
                width: 15px;
                height: 15px;
                background: url('../img/arrow-down.svg') center no-repeat;

                @include adaptive(desktop) {
                    display: block;
                }
            }
        }
    }

    &__menu-item {
        position: relative;
        text-align: center;
        border-top: 1px solid $colorWhite;
        border-bottom: 2px solid $workDividerColor;
        padding: 15px 0;

        @include adaptive(desktop) {
            border: 1px solid transparent;
            background-color: transparent;

            &:hover {

                .header__menu-link {
                    background: $standartGradient2;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;

                    &::after {
                        display: none;
                        position: absolute;
                        content: '';
                        width: 100%;
                        height: 3px;
                        background: $standartGradient2;
                        bottom: -7px;
                        left: 0;

                        @include adaptive(desktop) {
                            display: block;
                        }
                    }
                }
            }
        }

        &_active {

            & .header__menu-link {
                background: $standartGradient2;
                -webkit-background-clip: text !important;
                -webkit-text-fill-color: transparent;

                &::after {
                    display: none;
                    position: absolute;
                    content: '';
                    width: 100%;
                    height: 3px;
                    background: $standartGradient2;
                    bottom: -7px;
                    left: 0;

                    @include adaptive(desktop) {
                        display: block;
                    }
                }
            }
        }

        &_dropdown {
            position: relative;

            &:hover {

                & > .header__menu-dropdown {
                    display: flex;
                }
            }
        }

        &_custom {
            display: flex;
            align-items: center;
        }
    }

    &__menu-dropdown {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 37px;
        padding: 10px 0 10px 30px;
        text-align: left;
        background: $colorWhite;
        max-width: 210px;
        width: 220px;
    }

    &__dropdown-item {
        padding: 10px;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 13px;
        line-height: 1;
        color: $colorBlack;
        position: relative;
        transition: padding 0.1s ease;

        &::before {
            display: none;
        }

        &:hover {
            padding-left: 30px;
            background: $standartGradient2;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;

            &::before {
                display: block;
                position: absolute;
                content: '';
                width: 20px;
                height: 2px;
                top: 50%;
                margin-top: -1px;
                left: 0;
                background: $standartGradient3;
            }
        }
    }

    &__contacts-wrapper {
        display: flex;
    }

    &__contact-icon {
        width: 20px;
        height: 20px;
    }

    &__text {
        font-size: 14px;
        margin-left: 10px;
        flex-basis: 40%;
        text-align: left;
    }

    &__button-menu {
        align-self: center;
        @include adaptive(desktop) {
            display: none;
        }
    }

    &__button {
        border: 0;
        background: none;
        outline: none;

        &--hidden {
            display: none;
        }
    }

    &__button-order {
        display: flex;
        margin-left: auto;
        align-items: center;
        flex-basis: 40%;
        justify-content: space-between;
    }

    &__button-contact {
        font-size: 15px;
        line-height: 1;
        color: $colorBlack;
        display: flex;
        align-items: center;
        text-decoration: none;
        position: relative;

        img {
            margin-right: 5px;
        }

        &:last-child {
            padding-bottom: 5px;
            margin-top: 5px;
        }

        &_underline {

            &::after {
                position: absolute;
                content: '';
                bottom: 0;
                background: linear-gradient(to right, transparent 50%, #fff 50%), $colorBlack;
                background-size: 6px 2px, 100% 2px;
                height: 1px;
                width: 100%;
                left: 0;
            }

            &:hover {
                &::after {
                    background: linear-gradient(to right, transparent 50%, #ffffff 50%), linear-gradient(150deg, #d25674 0%, #672dc1 100%);
                    background-size: 6px 2px, 100% 2px;
                }
            }
        }

        &:hover {
            background: $standartGradient2;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }

    &__search-wrapper {
        margin: 20px 0;
        width: 100%;
        height: 100%;
        position: relative;
    }

    &__search-input {
        width: 100%;
        padding: 10px 20px;
        border: 2px solid #ccc;
    }

    &__search-label {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        position: absolute;
        background: url('../img/search.svg') no-repeat 220px 50%;
        background-size: 20px;
        opacity: 0.3;
    }
}
