@import '../../sass/vars';

.header {
    position: relative;
    text-align: center;
    transition: all 0.3s ease;
    color: $textColor;
    flex: 0 0 100%;

    & > .main-container {
        padding: 0;
        margin: 0 auto;
    }

    &_fixed {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        background: transparent;
        z-index: 5;

        & > .main-container {

            @include adaptive(desktop-ext) {
                max-width: 1300px;
            }
        }

        & + main {
            margin-top: 46px;

            @include adaptive(desktop) {
                margin-top: 166px;
            }
        }

        & .header__navbar {
            padding: 6px 0;
        }

        & .header__top {
            display: none;
        }
    }

    &__menu-wrap {

        @include adaptive(desktop) {
            display: flex;
            justify-content: space-between;
            flex: 0 1 42%;
        }
    }

    &__flex {
        display: flex;
        max-width: 870px;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;

        @include adaptive(desktop) {
            flex-wrap: nowrap;
        }
    }

    &__mobile-menu-wrapper {
        display: block;
        position: relative;
        order: 1;
        width: 100%;

        @include adaptive(desktop) {
            display: none;
            order: 2;
        }
    }

    &__logo {
        flex: 0 1 100%;
        order: 2;
        margin: 50px 0 30px;
        display: none;

        @include adaptive(desktop) {
            display: block;
            order: 1;
            flex: 0 1 auto;
            margin: 0;
        }
    }

    &__mobile-menu {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px 20px;
        background: $menuBg;
        z-index: 5;
        position: relative;
        box-shadow: 0 0 10px 0 rgba(0,0,0,.75);


        @include adaptive(desktop) {
            display: none;
        }

        &_opened {

            & .header__burger {
                background: transparent;

                &::before {
                    transform: rotate(45deg);
                    transform-origin: 50% 50%;
                    top: 0;
                }

                &::after {
                    transform: rotate(-45deg);
                    transform-origin: 50% 50%;
                    bottom: 0;
                }
            }
        }
    }

    &__menu-mobile {
        top: -320px;
        transition: 0.3s ease all;
        background: $menuBg;
        z-index: 3;
        position: absolute;
        width: 80%;
        left: 10%;
        box-shadow: 0 0 10px 0 rgba(0,0,0,.75);

        &_open {
            top: 45px;
        }
    }

    &__mobile-item {
        display: flex;
        align-items: center;
        position: relative;
    }

    &__burger-wrap {
        width: 20px;
        height: 24px;
        margin-right: 10px;
        position: relative;
    }

    &__burger {
        position: absolute;
        width: 20px;
        height: 3px;
        border-radius: 1px;
        background: $menuColor;
        top: 50%;
        left: 0;
        margin-top: -1px;
        cursor: pointer;

        &::before,
        &::after {
            content: '';
            position: absolute;
            height: 3px;
            border-radius: 1px;
            background: $menuColor;
            left: 0;
            right: 0;
            transition: all 0.3s ease;
        }

        &::before {
            top: -7px;
        }

        &::after {
            bottom: -7px;
        }
    }

    &__navbar {
        display: none;
        flex-wrap: wrap;
        position: relative;
        z-index: 2;

        @include adaptive(desktop) {
            display: flex;
            align-items: center;
            margin-top: 20px;
        }
    }

    &__menu {
        display: none;
        flex: 0 1 60%;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        align-content: center;

        @include adaptive(desktop) {
            display: flex;
            order: 2;
        }
    }

    &__menu-list {
        margin: 0;
        padding: 0;
        list-style: none;

        @include adaptive(desktop) {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            align-items: center;
        }

        @include adaptive(desktop-extra) {
            flex-wrap: nowrap;
        }
    }

    &__menu-item {
        position: relative;
        text-align: left;
        border-top: 1px solid $menuBorder;
        padding: 15px 20px;
        @include font-regular();
        font-size: 15px;
        line-height: 22px;
        text-transform: uppercase;
        flex: 0 1 42%;

        @include adaptive(desktop) {
            border: 1px solid transparent;
            background-color: transparent;
            padding: 0;
            transition: background 0.2s ease;
            margin: 10px 0;
        }

        @include adaptive(desktop-ext) {
            font-size: 20px;
        }

        &:active {
            background: $menuHover;
        }

        &:hover {

            span {
                color: $menuHover;
            }
        }
    }

    &__menu-link {
        color: $colorBlack;
        text-decoration: none;
        white-space: nowrap;

        img {
            margin-right: 10px;
        }
    }

    &__link {
        color: $linkColor;
        text-transform: uppercase;
        text-decoration: none;
        display: block;
        font-size: 12px;
        line-height: 16px;

        @include adaptive(desktop) {
            font-size: 14px;
            line-height: 22px;
        }

        &_mail {
            display: flex;
            align-items: center;
            justify-content: center;

            @include adaptive(desktop) {
                justify-content: flex-start;
            }
        }

        svg {
            fill: $textColor;
            width: 14px;
            height: 14px;
            margin-right: 5px;
        }
    }

    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        order: 2;
        padding: 10px 0;

        @include adaptive(desktop) {
            padding: 15px 0;
            order: 1;
        }

        &::after {
            position: absolute;
            content: '';
            bottom: 0;
            left: 0;
            right: 0;
            height: 1px;
            background: $headerBorder;

            @include adaptive(desktop) {
                left: -70px;
                right: -70px;
            }
        }
    }

    &__text {
        margin: 5px 0;
        font-size: 12px;
        line-height: 16px;
        color: $menuColor;

        @include adaptive(desktop) {
            font-size: 14px;
            line-height: 18px;
        }

        span {
            font-weight: bold;
        }
    }

    &__span {
        display: block;

        @include adaptive(desktop) {
            display: inline;
        }
    }

    &__top-item {
        flex: 1 1 25%;
        text-align: right;

        &_left {
            text-align: center;

            @include adaptive(desktop) {
                text-align: left;
            }
        }

        &_right {
            display: none;

            @include adaptive(desktop) {
                display: block;
            }
        }
    }
}
