@import '../../sass/vars';

.register {
    padding: 10px 0 0;

    &__content {
        flex: 0 0 auto;
        background: $personalBg;
        padding: 15px 0 20px;
        box-shadow: 0 0 10px 0 transparentize($colorBlack, 0.25);
        border-radius: 5px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    &__h1 {
        @include font-bold-cuprum();
        font-size: 24px;
        line-height: 30px;
        color: $personalHeader;
        text-transform: uppercase;
        flex: 0 0 100%;
        text-align: center;
    }

    &__change {
        text-align: left;
        padding: 20px;
        width: 100%;

        @include adaptive(tablet) {
            flex: 0 1 50%;
        }
    }

    &__input {
        width: 100%;
        margin-top: 5px;
        border: 1px solid $personalInputBorder;
        border-radius: 2px;
        color: $personalHeader;
        padding: 5px 10px;
        box-sizing: border-box;
        @include font-regular();
        font-size: 15px;
        line-height: 20px;
        min-height: 34px;
        background: transparent;

        &_select {
            outline: none;
        }
    }

    &__item {
        margin: 20px 0;

        &_select {
            position: relative;

            &::before {
                position: absolute;
                content: '';
                border: 5px solid transparent;
                border-top-color: $personalText;
                bottom: 10px;
                right: 10px;
            }
        }
    }

    &__label {
        @include font-regular();
        font-size: 14px;
        margin: 0;
        color: $personalText;
    }

    &__button {
        margin-top: 20px;
        display: inline-block;
    }

    &__left,
    &__right {
        padding: 7px 5px;
        width: 100%;
        box-sizing: border-box;
    }

    &__left {
        flex: 0 0 60%;
    }

    &__right {
        flex: 0 0 39.5%;
        text-align: center;
    }

    &__header-text {
        @include font-regular();
        font-size: 14px;
        line-height: 20px;
    }

    &__code-text,
    &__value-text {
        font-size: 14px;
        color: $personalText;
        font-weight: 700;
    }

    &__data-text {
        font-size: 11px;
        color: $personalText;
    }
}
