@import '../../sass/vars';

.register {
    display: flex;
    justify-content: center;
    padding: 0;

    & > .main-container {
        max-width: 650px;
        width: 100%;

        @include adaptive(tablet-max) {
            max-width: 500px;
        }
    }

    &__logo {
        display: block;

        @include adaptive(desktop) {
            display: none;
        }
    }

    &__h1 {
        @include font-bodoni();
        font-size: 34px;
        line-height: 1;
        color: $colorBlack;
        font-weight: 400;
        margin-top: 0;

        @include adaptive(desktop) {
            font-size: 40px;
            line-height: 68px;
        }
    }

    &__input-wrap {
        width: 100%;
        text-align: left;
        margin: 10px 0 20px;
        display: flex;
        align-items: center;
        position: relative;
        flex-wrap: wrap;

        @include adaptive(mobile) {
            order: 2;
        }

        &_checkbox {
            flex-wrap: nowrap;
        }
    }

    &__input-label {
        position: absolute;
        top: 0;
        left: 0;
        padding: 10px;
        color: transparent;

        span {
            color: red;
        }
    }

    &__error {
        flex: 0 1 100%;
        @include font-light();
        font-size: 16px;
        position: absolute;
        width: auto;
        box-sizing: border-box;
        top: -45px;
        left: 0;
        padding: 10px;
        background: $colorWhite;
        border: 1px red solid;
        min-width: 100px;
        min-height: 36px;
        display: none;

        &::before,
        &::after {
            position: absolute;
            content: '';
            bottom: 0;
        }

        &::before {
            border: 10px solid transparent;
            border-top-color: red;
            color: red;
            width: 0;
            height: 0;
            bottom: -20px;
        }

        &::after {
            border: 9px solid transparent;
            border-top-color: #fff;
            color: red;
            width: 0;
            height: 0;
            bottom: -18px;
            left: 11px;
        }
    }

    &__input {
        width: 100%;
        border: 1px solid $regBorder;
        padding: 9px 10px;

        &:focus,
        &:active,
        &:valid {

            & + .register__input-label span {
                color: transparent;
            }
        }
    }

    &__captcha-block {
        display: flex;
        align-items: center;

        & .register__input-wrap {
            margin: 0;

            @include adaptive(tablet) {
                flex: 0 1 40%;
                margin-right: 40px;
            }
        }

        @include adaptive(mobile) {
            flex-wrap: wrap;
        }
    }

    &__captcha {
        height: 100%;
        background: $colorWhite;

        @include adaptive(mobile) {
            order: 1;
            margin: 0 auto 20px;
        }
    }

    &__captcha-text {
        margin: 0;
        padding: 10px;
        @include font-light();
        font-size: 18px;
    }

    &__checkbox {
        visibility: hidden;
        width: 20px;
        height: 20px;
        margin-right: 10px;
        min-width: 20px;

        &:checked + .register__label {

            &::after {
                display: block;
            }
        }
    }

    &__label {
        @include font-light();
        font-size: 18px;
        color: $regText;

        &::before {
            position: absolute;
            content: '';
            width: 20px;
            height: 20px;
            border: 1px solid $regBorder;
            left: 0;
        }

        &::after {
            position: absolute;
            content: '';
            width: 10px;
            height: 4px;
            border: 1px solid transparent;
            border-bottom-color: $regBorder;
            border-left-color: $regBorder;
            left: 5px;
            top: 50%;
            margin-top: -4px;
            transform: rotate(-45deg);
            display: none;
        }
    }

    &__link {
        text-decoration: underline;
        color: $regText;
    }

    &__button {
        margin-top: 30px;
    }
}