@import '../../sass/vars';

.button {
    @include font-regular();
    font-size: 18px;
    line-height: 36px;
    color: $buttonBorderColor;
    white-space: nowrap;
    text-decoration: none;
    background: $buttonColor;
    padding: 17px 50px;
    cursor: pointer;
    transition: all 0.2s ease;
    outline: none;
    border: none;
    text-transform: uppercase;

    @include adaptive(mobile) {
        font-size: 14px;
        padding: 5px 20px;
    }

    @include adaptive(desktop) {
        &:hover {
            color: transparentize($buttonBorderColor, 0.2);
        }
    }

    &:active {
        color: transparentize($colorWhite, 0.5);
    }

    &_thin {
        @include font-regular();
        font-size: 15px;
        line-height: 24px;
        border-width: 1px;
        border-radius: 2px;
        padding: 5px 40px;
    }

    &_save {
        color: $colorWhite;
        background: $buttonBorderColor;
        display: block;
        width: 100%;
    }

    &_action,
    &_register {
        background: none;
        border: 2px solid $actionButton;
        color: $actionButton;
        padding: 10px 50px;

        &:hover {
            background: $actionButton;
            color: $colorWhite;
        }
    }

}