@import '../../sass/vars';

.button {
    @include font-regular-cuprum();
    font-size: 20px;
    line-height: 49px;
    color: $buttonBorderColor;
    white-space: nowrap;
    text-decoration: none;
    background: $buttonColor;
    border-radius: 10px;
    padding: 0 15px;
    cursor: pointer;
    transition: all 0.2s ease;
    outline: none;
    border: 4px solid $buttonBorderColor;
    text-transform: uppercase;

    @media(max-width: 359px) {
        font-size: 16px;
        padding: 0 10px;
    }

    @include adaptive(desktop) {
        font-size: 40px;
        line-height: 62px;
        padding: 0 50px;

        &:hover {
            background: $buttonBorderColor;
            color: $textColor;
        }
    }

    &:active {
        color: transparentize($colorWhite, 0.5);
    }

    &_thin {
        @include font-regular();
        font-size: 15px;
        line-height: 24px;
        border-width: 1px;
        border-radius: 2px;
        padding: 5px 40px;
    }

    &_save {
        color: $colorWhite;
        background: $buttonBorderColor;
        display: block;
        width: 100%;
    }
}