@import '../../sass/vars';

.button {
	@include font-regular();
	font-size: 14px;
	line-height: 24px;
	color: $colorWhite;
	white-space: nowrap;
	text-decoration: none;
	background: $buttonColor;
	padding: 10px 20px;
	cursor: pointer;
	transition: all 0.2s ease;
	outline: none;
	border: none;
    background: $standartGradient3;
    box-shadow: $buttonBoxShadow;
    border-radius: 2px;
    text-transform: uppercase;
    position: relative;
    max-height: 50px;

    &_border {
        width: 185px;
        height: 50px;
        padding: 0;
        box-shadow: none;
    }

    &_short {
        width: 140px;
    }

    &_max-length {
        display: flex;
        align-items: center;
        width: 185px;
        padding: 10px;
        box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.3);
        z-index: 2;
    }

    span {
        position: absolute;
        top: 2px;
        bottom: 2px;
        left: 2px;
        right: 2px;
        background: $colorWhite;
        color: $colorBlack;
        font-size: 13px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

	&:active {
		color: transparentize($colorWhite, 0.5);
	}
}