@import '../../sass/vars';

.calc {
    padding: 30px 0;
    background: $colorGrey2;
    text-align: center;
    color: $colorBlack;

    & .main-container {

        @include adaptive(tablet) {
            padding: 0 40px;
        }
    }

    @include adaptive(desktop) {
        padding: 60px 0;
    }

    &__h3 {
        font-size: 16px;
        text-transform: uppercase;
        line-height: 21px;
        letter-spacing: 2.5px;
    }

    &__h2 {
        font-size: 24px;
        line-height: 1.23;
        font-weight: 600;

        @include adaptive(desktop) {
            font-size: 42px;
        }
    }

    &__text {
        font-size: 18px;
        line-height: 1.5;

        @include adaptive(desktop) {
            font-size: 24px;
        }
    }

    &__body {
        display: flex;
        justify-content: center;
    }

    &__body-wrap {
        flex-basis: 100%;

        @include adaptive(desktop) {
            flex-basis: 100%;
        }
    }

    &__form-control {
        display: block;
        width: 100%;
        padding: .375rem .75rem;
        font-size: 1rem;
        line-height: 1.5;
        color: #495057;
        background-color: #ffffff;
        background-image: none;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: .25rem;
        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    }

    &__row {
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        @include adaptive(tablet) {
            flex-wrap: nowrap;
        }

        &_hide {
            margin: 0 -15px;
            font-size: 12px;

            @include adaptive(tablet) {
                margin: 0;
                font-size: 16px;
            }
        }
    }

    &__column {
        flex-basis: 20%;
        min-width: 20%;

        & label {
            line-height: 2;
        }

        &:first-child {
            flex-basis: 100%;
            min-width: 100%;

            @include adaptive(tablet) {
                flex-basis: 20%;
                min-width: 20%;
            }
        }

        &_60 {
            flex-basis: 60%;
            min-width: 60%;
        }

        &_last {
            flex-basis: 15%;
            margin-left: 20px;
        }

        &_100 {
            flex-basis: 100%;

            table {
                width: 100%;
                max-width: 100%;
                margin-bottom: 1rem;
                background-color: transparent;
                border-collapse: collapse;

                td, th {
                    padding: .75rem;
                    vertical-align: top;
                    border-top: 1px solid #e9ecef;
                }

                a {
                    color: #007bff;
                    text-decoration: none;
                    background-color: transparent;
                }

                & thead {

                    & th {
                        vertical-align: bottom;
                        border-bottom: 2px solid #e9ecef;
                    }
                }
            }
        }
    }
}