@import '../../sass/vars';

.answer {
    background: $colorGrey2;

    &__h2 {
        max-width: 100%;
    }

    &__items {
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
        justify-content: space-between;
        margin: 30px 0;

        @include adaptive(desktop) {
            margin: 50px 0;
        }
    }

    &__item {
        flex-basis: 100%;
        background-color: rgb(255, 255, 255);
        border-radius: 5px;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
        margin-top: 20px;
        padding: 20px;
        text-align: left;
        transition: all 0.3s ease;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;

        @include adaptive(desktop) {
            flex-basis: 49%;
        }

        &:hover {
            box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.10);
        }
    }

    &__h4 {
        margin: 0;
        font-weight: 700;
        font-size: 22px;
        line-height: 1.35;
    }

    &__text {
        font-size: 18px;
        line-height: 24px;
        font-weight: 300;
        max-height: calc(24px * 11);
        overflow: hidden;

        &_show {
            max-height: 100%;
            overflow: visible;
        }
    }

    &__links {
        align-self: flex-end;
    }

    &__link {
        display: block;
        font-weight: 400;
        font-size: 16px;
        padding-right: 30px;
        padding-left: 0;
        background: url('../img/arrow.svg') no-repeat right center;
        background-size: 20px;
        color: #3e0059;
        align-self: flex-end;

        &.button_more,
        &.button_less {
            background: none;
        }

        &.button_less {
            display: none;
        }
    }
}