@import '../../sass/vars';

.types {
    padding: 15px 15px 30px;
    text-align: center;
    position: relative;

    @include adaptive(desktop) {
        padding: 50px;
    }

    &__wrapper {
        margin: 80px 0;
    }

    &__h2 {
        font-size: 24px;
        line-height: 1.23;
        color: $colorBlack;
        margin-bottom: 20px;

        @include adaptive(tablet) {
            max-width: 60%;
            font-size: 30px;
            margin: 0 auto 40px;
        }

        @include adaptive(desktop) {
            font-size: 42px;
        }
    }

    &__h3 {
        font-size: 14px;
        line-height: 1.5;
        font-weight: normal;

        @include adaptive(tablet) {
            font-size: 20px;
            max-width: 50%;
            margin: 0 auto;
        }

        @include adaptive(desktop) {
            font-size: 24px;
            max-width: 50%;
            margin: 0 auto;
        }
    }

    &__image {
        max-width: 100%;
        height: auto;
    }

    &__arrows {
        position: absolute;
        top: 65%;
        left: 0;
        width: 100%;
        padding: 0 15px;
        z-index: 3;
        display: flex;
        justify-content: space-between;
    }

    &__arrow {
        width: 30px;
        height: 30px;
        position: relative;
        padding: 0;

        &::before,
        &::after {
            position: absolute;
            content: '';
            top: 50%;
            height: 1px;
            width: 15px;
            left: 8px;
            background: $colorBlack;
            transform: rotate(45deg);
            transform-origin: 0 0;
        }

        &::after {
            transform: rotate(-45deg);
        }

        &_right {
            transform: rotate(180deg);
        }
    }
}
