@import '../../sass/vars';

.page-headers {
    background: url('../img/bg-1.png') no-repeat center;
    background-size: cover;
    padding: 20px 0;

    @include adaptive(desktop-ext) {
        padding: 40px 0;
    }

    &__h1 {
        position: relative;
        @include font-oregular();
        text-transform: uppercase;
        font-size: 24px;
        line-height: 36px;
        color: $contentHeaderColor;
    }

    &__span-1 {
        @include font-oregular();
        color: $colorWhite;
        font-size: 82px;
        line-height: 96px;
    }

    &__span-2 {
        color: $contentSpanText;
        font-size: 35px;
        display: block;
        line-height: 1.5;
    }

    &__wrapper {
        display: flex;

        &_margin {
            margin: 20px 0;
            display: none;

            @include adaptive(desktop) {
                display: flex;
            }
        }

        &_social {
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;

            @include adaptive(desktop) {
                flex-wrap: nowrap;
                margin: -50px 0 50px;
                justify-content: space-between;
            }
        }
    }

    &__item {
        flex-basis: 90%;

        &_short {
            flex-basis: 100%;

            @include adaptive(desktop) {
                flex-basis: 60%;
            }
        }
    }

    &__columns {
        display: flex;
        max-height: 100%;
        flex-wrap: wrap;
        align-items: center;

        @include adaptive(tablet) {
            flex-wrap: nowrap;
            max-width: 980px;
            margin: 0 auto;
        }
    }

    &__left-column {

        @include adaptive(desktop) {
            flex-basis: 55%;
        }
    }

    &__right-column {
        flex-basis: 100%;
        margin: 0 auto;

        @include adaptive(desktop) {
            flex-basis: 35%;
            margin-left: auto;
            margin-right: 0;
        }
    }

    &__form {
        padding: 5px;

        @include adaptive(desktop-ext) {
            padding: 20px;
        }
    }

    &__fieldset {
        padding: 10px;
        border: 6px solid #ffd700;

        @include adaptive(desktop) {
            padding: 30px;
        }
    }

    &__form-text {
        color: $colorWhite;
        font-size: 14px;
        line-height: 21px;
        margin-top: 0;
    }

    &__form-input {
        @include font-medium();
        font-size: 18px;
        color: $labelColor;
        outline: none;
        border: none;
        background: $inputBg;
        padding: 12px 20px;
        width: 100%;

        &:focus,
        &:valid {

            & + .page-headers__input-label {
                color: transparent;
            }
        }
    }

    &__legend {
        @include font-medium();
        text-transform: uppercase;
        color: $colorWhite;
        text-align: center;
        font-size: 24px;
        padding: 0 20px;
    }

    &__input-wrapper {
        position: relative;
        margin: 10px 0;
    }

    &__input-label {
        @include font-medium();
        position: absolute;
        height: 100%;
        font-size: 18px;
        top: 50%;
        margin-top: -13px;
        left: 20px;
        color: $labelColor;
        text-transform: uppercase;
    }

    &__features {
        display: flex;
        justify-content: space-between;
        max-width: 780px;
        margin: 10px auto 0;
        flex-wrap: wrap;

        @include adaptive(desktop) {
            flex-wrap: nowrap;
        }

        @include adaptive(desktop-ext) {
            margin: 40px auto 0;
        }
    }

    &__feature {
        flex-basis: 30%;

        @include adaptive(desktop) {
            flex-basis: 18%;
        }
    }

    &__feature-text {
        @include font-medium();
        color: $colorWhite;
        text-transform: uppercase;
        margin: 0;
        font-size: 12px;
        line-height: 16px;
        text-align: center;

        @include adaptive(desktop) {
            text-align: left;
            font-size: 17px;
            line-height: 21px;
        }

        @include adaptive(desktop-ext) {
            margin: 14px 0;
        }
    }

    &__feature-icon {
        width: 60px;
        height: 60px;
        margin: 0 auto;
        display: block;

        @include adaptive(desktop) {
            margin-right: auto;
            margin-left: 0;
        }

        @include adaptive(desktop-ext) {
            width: 80px;
            height: 80px;
        }
    }
}
