@import '../../sass/vars';

.page-headers {
    max-height: 90vh;

    &__h1 {
        position: relative;
        @include font-medium();
        text-transform: uppercase;
        font-size: 20px;
        line-height: 25px;
        color: $contentHeaderColor;

        span {
            @include font-bold();
            color: $contentSpanText;
            font-size: 30px;

            @include adaptive(tablet) {
                display: block;
            }

            @include adaptive(desktop) {
                font-size: 40px;
            }
        }

        br {
            @include adaptive(tablet) {
                display: none;
            }

            @include adaptive(desktop) {
                display: block;
            }
        }

        @include adaptive(desktop) {
            font-size: 40px;
            line-height: 46px;
        }
    }

    &__wrapper {
        display: flex;

        &_margin {
            margin: 20px 0;
            display: none;

            @include adaptive(desktop) {
                display: flex;
            }
        }

        &_social {
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;

            @include adaptive(desktop) {
                flex-wrap: nowrap;
                margin: 0px 0 25px;
                justify-content: space-between;
            }
        }
    }

    &__item {
        flex-basis: 90%;

        &_short {
            flex-basis: 100%;

            @include adaptive(desktop) {
                flex-basis: 60%;
            }
        }
    }

    &__social-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__p {
        @include font-regular();
        font-size: 14px;
        line-height: 17px;
        color: $contentTextColor;
        margin-top: 0;

        @include adaptive(desktop) {
            font-size: 17px;
            line-height: 21px;
            margin-top: 17px;
        }
    }

    &__social-text {
        @include font-regular();
        font-size: 12px;
        line-height: 21px;
        color: $socialTextColor;
        text-transform: uppercase;
        text-decoration: none;

        span {
            color: $socialSpanColor;
        }
    }

    &__social-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-left: 10px;

        a {

            &:last-child {
                margin-left: 5px;
            }
        }
    }

    &__social-icon {
        width: 20px;
        height: 20px;
    }

    &__button-block {
        position: absolute;
        top: 50%;
        margin-top: -60px;
        left: -70px;
        height: 120px;
        width: 20px;
        display: none;
        flex-direction: column;

        @include adaptive(desktop) {
            display: flex;
        }
    }

    &__nav-button {
        width: 15px;
        height: 15px;
        min-width: 15px;
        min-height: 15px;
        border-radius: 50%;
        margin: 10px 0;
        background: $navButtonColor;

        &_active {
            background: $navActiveButtonColor;
        }
    }

    &__columns {
        display: flex;
        max-height: 100%;
        flex-wrap: wrap;

        @include adaptive(desktop) {
            flex-wrap: nowrap;
        }
    }

    &__left-column {

        @include adaptive(desktop) {
            flex-basis: 35%;
        }
    }

    &__right-column {
        position: relative;
        flex-basis: 100%;
        max-width: 100%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;

        @include adaptive(desktop) {
            flex-basis: 65%;
            max-width: 65%;
        }
    }

    &__slick-wrapper {
        position: relative;
        width: 100%;

        @include adaptive(desktop) {
            flex-basis: 65%;
            max-width: 65%;
        }
    }

    &__right-image {
        max-width: 100%;
        height: auto;

        &_width {
            max-width: 130%;
        }
    }

    &__switch-button {
        position: absolute;
        top: 50%;
        margin-top: -30px;
        outline: none;
        border: none;
        background: none;
        width: 40px;
        height: 40px;
        padding: 0;
        z-index: 50;
        cursor: pointer;

        &_left {
            left: 0;
        }

        &_right {
            right: 0;
            transform: rotate(180deg);
        }
    }

    &__arrows {
        width: 40px;
        height: 40px;
    }
}
