@import '../../sass/vars';

.footer {
    color: $footerText;
    @include font-regular();
    flex: 0 0 100%;
    overflow: hidden;

    & > .main-container {
        height: 100%;
        display: flex;
        align-items: center;
    }

    @include adaptive(desktop) {

    }

    &__content {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        text-align: center;
        position: relative;

        @include adaptive(desktop) {
            padding: 20px 0;
        }

        &::before {
            position: absolute;
            content: '';
            top: 0;
            left: -15px;
            right: -15px;
            height: 2px;
            background: $footerBorder;

            @include adaptive(desktop) {
                top: 20px;
                left: -70px;
                right: -70px;
            }
        }
    }

    &__text {
        font-size: 13px;
        line-height: 18px;
    }
}
