@import '../../sass/vars';

.footer {
    padding: 20px 0;

    @include adaptive(desktop) {
        padding: 50px 0;
    }

    &__content {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        @include adaptive(desktop) {
            flex-wrap: nowrap;
        }
    }

    &__copyright-text,
    &__agreement,
    &__anchor {
        @include font-regular();
        font-size: 13px;
        line-height: 21px;
        color: $footerText;
    }

    &__agreement,
    &__anchor {
        text-decoration: underline;
    }

    &__copyright-text {
        line-height: 19px;
        margin: 2px 0;
    }

    &__logo-block {
        flex-basis: 100%;

        @include adaptive(desktop) {
            flex-basis: 28%;
        }
    }

    &__anchors {
        flex-basis: 100%;
        display: flex;
        justify-content: space-between;

        @include adaptive(desktop) {
            display: block;
            flex-basis: 15%;
        }
    }

    &__anchor {
        font-size: 10px;

        @include adaptive(desktop) {
            font-size: 13px;
            display: block;
        }
    }

    &__agreements {
        flex-basis: 100%;

        @include adaptive(desktop) {
            flex-basis: 20%;
        }
    }

    &__agreement {
        display: block;
        cursor: pointer;
    }

    &__buttons {
        margin: 20px auto 0;

        @include adaptive(desktop) {
            margin-top: 0;
        }
    }
}
