@import '../../sass/vars';

.review {
    background: $colorGrey2;
    position: relative;

    &__items {
        margin: 50px auto;
        padding: 30px 0;

        @include adaptive(desktop) {
            max-width: 80%;
        }
    }

    &__arrows {
        position: absolute;
        top: 55%;
        left: 0;
        width: 100%;
        padding: 0 15px;
        z-index: 3;
        display: flex;
        justify-content: space-between;
    }

    &__arrow {
        width: 30px;
        height: 30px;
        position: relative;
        padding: 0;

        &::before,
        &::after {
            position: absolute;
            content: '';
            top: 50%;
            height: 1px;
            width: 15px;
            left: 8px;
            background: $colorBlack;
            transform: rotate(45deg);
            transform-origin: 0 0;
        }

        &::after {
            transform: rotate(-45deg);
        }

        &_right {
            transform: rotate(180deg);
        }
    }

    &__item {
        width: 100%;
        background: $colorWhite;
        height: 100%;
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        @include adaptive(tablet) {
            flex-wrap: nowrap;
        }
    }

    &__image-block {
        flex: 0 0 100%;
        min-height: 260px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

        @include adaptive(desktop) {
            flex: 0 0 200px;
            min-height: 300px;
        }

        &_1 {
            background-image: url('../img/review/review-1.jpg');
        }

        &_2 {
            background-image: url('../img/review/review-2.jpg');
        }

        &_3 {
            background-image: url('../img/review/review-3.jpg');
        }

        &_4 {
            background-image: url('../img/review/review-4.jpg');
        }

        & iframe {
            width: 290px;
            height: 260px;

            @include adaptive(desktop) {
                width: 200px;
                height: 300px;
            }
        }
    }

    &__text-block {
        align-items: center;
        padding: 20px 40px;
        text-align: left;
        min-height: 410px;

        @include adaptive(tablet) {
            min-height: 1px;
        }
    }

    &__text {
        font-size: 16px;
        line-height: 1.55;
        font-weight: 300;
        margin-bottom: 20px;
    }

    &__name {
        font-size: 16px;
        line-height: 1.35;
        font-weight: 600;
        margin: 0;
    }

    &__sign {
        font-size: 14px;
        line-height: 1.55;
        font-weight: 300;
        margin: 0;
    }

    &__link {
        color: #ff8562;
        text-decoration: none;
    }
}