@import '../../sass/vars';

.prizes {

    &__mobile {
        display: inline;

        @include adaptive(tablet) {
            display: none;
        }
    }

    &__desktop {
        display: none;

        @include adaptive(tablet) {
            display: inline;
        }
    }

    &__content {
        flex: 0 0 auto;
        background: $prizesBg;
        padding: 15px 0 70px;
        box-shadow: 0 0 10px 0 transparentize($colorBlack, 0.25);
        border-radius: 5px;
        display: flex;
        flex-wrap: wrap;
    }

    &__h1 {
        @include font-bold-cuprum();
        font-size: 24px;
        line-height: 30px;
        color: $colorBlack;
        text-transform: uppercase;
        text-align: center;
        margin: 0 20px;
        padding: 15px 0;
        width: 100%;
        box-sizing: border-box;
        border-bottom: 1px solid $partnersBorder;

        @include adaptive(tablet) {
            margin: 0 20px;
        }

        @include adaptive(desktop) {
            font-size: 28px;
            margin: 0 50px;
        }
    }

    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        margin: 20px 0;
        padding: 0 20px;
        justify-content: center;
        width: 100%;

        @include adaptive(tablet) {
            justify-content: space-between;
        }

        @include adaptive(desktop) {
            padding: 0 50px;
        }
    }

    &__header {
        display: flex;
        justify-content: space-between;
        width: 100%;
        flex-wrap: wrap;
    }

    &__h3 {
        @include font-regular();
        font-size: 24px;
        line-height: 28px;
        color: $colorBlack;
        width: 100%;
        text-align: center;
        margin: 0;
    }

    &__table-head,
    &__items {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex: 0 1 100%;
        width: 100%;
    }

    &__table-head {
        margin: 15px 0 0;
    }

    &__item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        & > * {
            padding: 0 20px;
            flex: 0 1 calc(25% - 2px);
            box-sizing: border-box;
            border-bottom: 1px solid $prizesBorder;
            height: 80px;
            display: flex;
            align-items: center;
            justify-content: center;

            &:first-child {
                flex: 0 1 calc(50% - 2px);
            }
        }

        & > .prizes__photo {
            padding: 0;

            @include adaptive(tablet) {
                padding: 0 20px;
            }
        }
    }

    &__desc {
        text-align: left;
        justify-content: flex-start;
        font-size: 12px;

        @include adaptive(tablet) {
            font-size: 16px;
        }
    }

    &__count,
    &__desc {
        margin: 0;
    }

    &__table-item {
        @include font-regular();
        font-size: 14px;
        line-height: 38px;
        background: $prizesHeader;
        color: $colorWhite;
        flex-basis: calc(25% - 2px);
        margin: 0;

        &:first-child {
            flex: 0 1 calc(50% - 2px);
            text-align: left;
            padding: 0 20px;
            box-sizing: border-box;
        }
    }

    &__image {
        width: 60px;
        height: 60px;
        background: $colorWhite;
    }
}